@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// # # # # # # # # # # # # # # #
// variables
$color-primary: #bf6079;
$color-secondary: #7a3a8c;
$color-darkest: #2d1f40;
$color-dark: #382859;
$color-light-gray: #d9d9d9;
$color-white: #fefefe;
$color-black: #202121;
$font: 'Poppins', sans-serif;
$br-common: 10px;
// # # # # # # # # # # # # # # #

// # # # # # # # # # # # # # # #
// Global styles
html {
  font-size: 10px;
}
body {
  font-family: $font;
  font-weight: 400;
  background-color: white;
}
*:focus-visible {
  outline: 1px solid blue;
}
*:focus:not(:focus-visible) {
  outline: none;
}
p,
h1,
h2,
h3,
button,
li,
a,
span {
  font-size: 1rem;
  color: $color-black;
}
.MuiSvgIcon-root {
  width: 1.4rem;
  height: 1.4rem;
  fill: $color-black;
  padding-right: 0.6rem;
}
.search .MuiSvgIcon-root {
  padding-right: 0;
}
ul,
h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
button,
li a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1.2rem;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
// # # # # # # # # # # # # # # #
main,
footer {
  margin: 0 2rem;
}
main {
  margin: 2rem;
}
header {
  background: $color-white;
  box-shadow: 0px -10px 10px 5px #212121;
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.app-title {
  display: none;

  // display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: $color-white;
  font-size: 3rem;
  width: 100%;
  height: 100%;
  animation: app-opening 3s forwards;
}
.app-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-darkest;
}
@keyframes app-opening {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
header .menu-filter {
  margin: 2rem;
}
header button {
  border: 1px solid $color-primary;
  border-radius: $br-common;
  background: none;
  color: $color-black;
  height: 100%;
}
header .menu-filter + .menu-filter {
  margin-left: 0;
}
header .MuiSvgIcon-root {
  padding-right: 0;
  height: 1.5em;
  width: 1.5em;
  fill: $color-primary;
}

.ilmoitukset .MuiSvgIcon-root {
  padding: 0;
  fill: $color-white;
}
.ilmoitukset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.ilmoitus {
  border-radius: $br-common;
  background-color: $color-white;
  border: 1px solid $color-primary;
  display: grid;
  grid-template-rows: 100px 140px;
  overflow: hidden;
}
.ilmoitus .tekstit {
  padding: 1.5rem;
  position: relative;
}
.ilmoitus p {
  font-size: 1.2rem;
}
.ilmoitus h2 {
  font-size: 1.6rem;
}
.laji-kuva img,
.laji-kuva {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.laji-ikoni {
  position: absolute;
  right: -0.2em;
  bottom: -0.2em;
  background-color: $color-primary;
  padding: 0.6rem;
  border-top-left-radius: $br-common;
  width: 1.4em;
  height: 1.4em;
}
.laji-ikoni .MuiSvgIcon-root {
  width: 1.4em;
  height: 1.4em;
}
@media only screen and (min-width: 500px) {
  .ilmoitukset {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 700px) {
  .ilmoitukset {
    grid-template-columns: repeat(4, 1fr);
  }
}
